{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Carte de randonnées</h1>
    <img id="balise" class="hidden" src="/assets/images/balise.png">

    
    <div class="hikingCard">
        <canvas id ='marsCard' width="500" height="200" style = "background-image: url(/assets/images/mars-rando.png);">
            <div><img id="balise" src="/assets/images/balise.png"></div>
        </canvas>
        <canvas id ='canevas3' width="500" height="200" ></canvas>
    </div>
    <a href="/home/index">Accueil</a>
{% endblock %}

{% block javascript %}
    <script>
        var c = document.getElementById("marsCard");
        var ctx = c.getContext("2d");

        const tabBalise = [[230, 80], [180, 160], [120, 100], [70, 10], [100, 50], [190, 20]];


        window.onload = function() {
            var d = document.getElementById("canevas3");
            var ctx = d.getContext("2d");

            for (i=0; i<tabBalise.length; i++) {
                balise(tabBalise[i]);
            }
        };

        for (i=0; i<tabBalise.length-1; i++) {
            Line(tabBalise[i], tabBalise[i+1]);
        }
        Line(tabBalise[tabBalise.length-1], tabBalise[0])

        function Line(bal1, bal2) {
            ctx.beginPath();        
            ctx.moveTo(bal1[0]+10, bal1[1]+20);
            ctx.lineTo(bal2[0]+10, bal2[1]+20);
            ctx.stroke();
        };

        function balise(baliseCoord) {
            var img1 = document.getElementById("balise");
            ctx.drawImage(img1, baliseCoord[0], baliseCoord[1], 20, 20);
        };

    </script>
{% endblock %}
