<nav>
    <a href="/">Home</a>
    <img src="/assets/images/spatials/mars.png" alt="">
    <h1>Welcome Dear Robots</h1>
    <img src="/assets/images/spatials/robot.png" alt="">
</nav>

<div class="starts">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</div>