/* /////////////// hiking/show.html.twig ///////////// */

canvas {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;}

/*div {position : absolute; width : 100%; left : 0px; top : 400px; }*/

.hikingCard {
    position:relative;
}

.hidden {
    display: none;
}
