@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --black: #000000ff;
    --white: #ffffffff;
    --cadmium-orange: #f19143ff;
    --orange-crayola: #ff773dff;
    --orange-soda: #f55536ff;
}
*{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: var(--black);
    color : var(--cadmium-orange);
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
nav img{
    height: 50px;
    width: 50px;
    margin:auto 0;
}
nav h1{
    font-weight: bold;
    font-size: xxx-large;
    margin: 0 2rem;
}

.main{
    position: relative;
    height: 100vh;
    background-image: url("../../assets/images/mars-background.png");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
}
.robots img{
    height: 150px;
    border-radius: 10px;

}
.robots{
    max-width: 170px;
    max-height: 170px;
    border-radius: 15px;
    position: fixed;
}


.robots h2{
    text-align: center;
    color : var(--white);
}



.airport img{
    height: 300px;
}
.hiking img{
    height: 250px;
}
.airport{
    position: absolute;
    right: 15%;
    top:15%
}
.festival{
    position: absolute;
    left: 20%;
    top:18%;
}
.hiking{
    position: absolute;
    left: 45%;
    bottom: 15%;
}
.wrapper{
    position: absolute;
    top: 0;
    text-align: center;
    min-width: 350px;
    min-height: 320px;
    opacity: 0;
    transition: .8s;
    background: var(--cadmium-orange);
    left: -40%;
}
.wrapper:hover{
    opacity: 1;
}
.w-vaisseau{
    right: -30%;
    background-color: transparent;
}

.festoch{
    text-align: center;
    padding: 4rem 0;
}
.festoch p{
    width: 500px;
    margin:auto;
    padding: 1rem;
}


.festoch img {
    width: 500px;
    height: 500px;
}
.festival img{
    max-height: 400px;
    max-width: 400px;
}

.clignote {
    text-align: center;
    color:green;
    animation: clignote 2s linear infinite;
}
@keyframes clignote {
    50% { opacity: 0; }
}
.textemulticolore .festoch h1{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 1rem;
}

.festoch .button2:hover
{
    box-shadow:5px 8px #ccc;
    color:#c2989d;
}
.textemulticolore{
    padding: 5rem 0;
}
.festoch h4{
    padding: .8rem 0;
}
.w-vaisseau h1{
    padding-bottom: 1rem;
}

.g-recaptcha{
    display: flex;
    justify-content: center;
}
.meteo{
    left: -15%;
}

.box-weather{
   text-align: center;
    background-color: rgba(0, 0, 0, .2);
    max-height: 200px;
    max-width: max-content;
    color: var(--white);
    padding: 2rem;
    border: 2px solid red;
}

.line{
    width: 75px;
    background-color: lightgrey;
    height: 3px;
    margin: .7rem 0;
}

/* /////////////// hiking/show.html.twig ///////////// */

canvas {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;}

/*div {position : absolute; width : 100%; left : 0px; top : 400px; }*/

.hikingCard {
    position:relative;
}

.hidden {
    display: none;
}

