{% extends 'layout.html.twig' %}
{% block content %}
    <div class ="textemulticolore">

        {% if error is defined and not null %}
            <div class="box-alert">
                {{ error }}
            </div>
        {% endif %}

        {% if success is defined and not null %}
                <div class="box-success">
                    {{ success }}
                </div>
        {% endif %}

        <div class="clignote">
            <h1> Welcome to the Festival 2021</h1>
            <a href="/">Home</a>
        </div>


        <div class="festoch" id="viking">
            <h1>Festival Viking</h1>
            <img src="/assets/images/viking.jpg" alt="Viking Festival">
            <h4>Thursday 15th  May at sunday 19 th May</h4>
            <p>This festival which celebrates this period attracts tens of thousands of people and robots,
                coming from all four corners of the galaxies, making it one of the biggest events in the universe.</p>
            <form action="/festival/index" method="POST">
                <div class="g-recaptcha" data-sitekey="6Ld5fNAaAAAAADEKNIvZrcwJw6FJuDkLFZFL4IWW"></div>
                <br/>
                <button class="button2" name="submit" type="submit">Book</button>
            </form>
        </div>

    <div class="festoch" id="coopers">
        <h1>Festival Cooper's</h1>
        <img src="/assets/images/images-3.jpg" alt="Bonfire Festival">
        <h4>Wednesday 10th June at Saturday 23th June</h4>
        <p>Come to the race of the best spritters in the galaxy, whether you are robots, humans, or even Martians.
            You will also have fun seeing the runners fall spectacularly on uneven ground (even if the injuries are sometimes quite serious).
            Be many down the slopes of our beautiful planet Mars.</p>
        <form action="/festival/index" method="POST">
            <div class="g-recaptcha" data-sitekey="6Ld5fNAaAAAAADEKNIvZrcwJw6FJuDkLFZFL4IWW"></div>
            <br/>
            <button class="button2" name="submit" type="submit">Book</button>
        </form>
    </div>

    <div class="festoch" id="night">
        <h1>Festival BonFire Night</h1>
        <img src="/assets/images/download.jpg" alt="Bonfire Festival">
        <h4>Saturday 06th July at Monday 09th July</h4>
        <p>This event is as user-friendly as can be, so you can expect to receive hugs and kisses from people you meet for the first time.
            So if you are new and want to make friends this is the event for you.</p>
        <button class="button2" type="button">Book</button>
    </div>

    <div class="festoch" id="lovebox">
        <h1>Lovebox Festival</h1>
        <img src="/assets/images/lovebox.jpg" alt="lovebox Festival">
        <h4>Friday 16th June at Sunday 19th June</h4>
        <p>this festival is always a great success with its wacky characters dressed in wacky costumes.
            The Talents participating in the 2021 edition have not yet been confirmed but for allergy sufferers from the campsite, it's the festival or go.</p>
        <form action="/festival/index" method="POST">
            <div class="g-recaptcha" data-sitekey="6Ld5fNAaAAAAADEKNIvZrcwJw6FJuDkLFZFL4IWW"></div>
            <br/>
            <button class="button2" name="submit" type="submit">Book</button>
        </form>
    </div>

    <div class="festoch" id="isle">
        <h1>Isle of Wight Festival</h1>
        <img src="/assets/images/images-2.jpg" alt="Isle of Wight Festival">
        <h4>Saturday 17th July at 20th July </h4>
        <p>Rock in its purest form. The best rock singers straight from the planet Jupiter.
            So come and shake the fleas in a frenzied rhythm.</p>
        <form action="/festival/index" method="POST">
            <div class="g-recaptcha" data-sitekey="6Ld5fNAaAAAAADEKNIvZrcwJw6FJuDkLFZFL4IWW"></div>
            <br/>
            <form action="/festival/index" method="POST">
                <div class="g-recaptcha" data-sitekey="6Ld5fNAaAAAAADEKNIvZrcwJw6FJuDkLFZFL4IWW"></div>
                <br/>
                <button class="button2" name="submit" type="submit">Book</button>
            </form>
        </form>
    </div>

    <div class="festoch" id="glastonbury">
        <h1>Glastonbury Festival</h1>
        <img src="/assets/images/coopers.jpg" alt="Glastanbury Festival">
        <h4>Thursday 17th July at Monday 21th July</h4>
        <p>The Glastonbury Festival, officially called the Glastonbury Festival of Contemporary Performing Arts, is one of the largest music and performing arts festivals in the world.
            The festival is widely known for its music, but it also features dance, comedy, theater, circus, cabaret, and other art forms.</p>
        <form action="/festival/index" method="POST">
            <div class="g-recaptcha" data-sitekey="6Ld5fNAaAAAAADEKNIvZrcwJw6FJuDkLFZFL4IWW"></div>
            <br/>
            <button class="button2" name="submit" type="submit">Book</button>
        </form>
    </div>

    </div>
{% endblock %}